<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Familiares</title>
</head>
<body>
    ________________________________________________________________________________________________________________________________________________________
    <br>
    {%for fam in miFlia%}
       Mi nombre es {{fam.nombre}} {{fam.apellido}}, y soy la {{fam.relacion}} de Juan, tengo {{fam.edad}} años de edad y naci el {{fam.fec_nac}}
       <br>
    ________________________________________________________________________________________________________________________________________________________
    <br>
    {%endfor%}
    
</body>
</html>

